#Aside {
  width: 345px;
  height: fit-content;
  min-height: 596px;

  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;

  position: relative;

  &::after {
    content: "";
    display: block;
    background-color: var(--aside_after);
    width: 5px;
    height: 40%;
    border-radius: 2.5px;

    position: absolute;
    right: 0;
    top: 30%;
  }
}
.a-header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    float: left;
  }
}
.a-dropdown-button {
  width: 155px;

  background-color: var(--generalLighterBack);
  float: right;

  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 5px;

  span {
    width: 110px;
  }

  &:focus {
    outline: 2px solid var(--generalFocusOutlineColor);
    outline-offset: 3px;
  }

  &[aria-checked="true"] {
    + ul {
      display: block;
    }
  }
}
.a-dropdown {
  display: block;
  width: 200px;
  z-index: 2;

  position: absolute;
  top: 100%;
  right: 0;

  button {
    width: 100%;
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: none;
    padding: 5px 15px;
    border-radius: 5px;

    svg {
      display: none;
      float: right;
    }

    &[aria-checked="true"] {
      background-color: var(--generalHoverBack);
      svg {
        display: block;
      }
    }
  }
}

.a-data {
  height: 54px;
  background-color: var(--generalLighterBack);

  padding: 10px;
  margin: 10px 0 0;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    display: flex;
    align-items: center;
  }

  img {
    width: 50px;
  }
}

.ending-focusable {
  position: absolute;
  top: -1000vh;
}
