#Header {
  width: 100%;
}

.h-logo {
  background: url("/images/logo.svg") no-repeat;
  background-size: contain;

  width: 150px;
  height: 40px;

  float: left;

  font-size: 0;
}
.h-dropbox {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;

  display: flex;
  align-items: center;

  float: right;

  & > * {
    height: fit-content;
  }

  span {
    text-align: center;
    flex: 1;
  }
}
.h-subtitle {
  text-align: center;
  font-size: 55px;
  margin: 80px 0 0;
}
