#Header {
  width: 100%;
  position: relative;
}

.h-logo {
  background-size: contain;

  width: 150px;
  height: 40px;
  margin-top: 4px;

  float: left;

  font-size: 0;
}
#Subtitle {
  text-align: center;
  font-size: 55px;
  align-self: center;
}

.h-dropdown-button {
  border: none;
  padding: 10px;
  border-radius: 10px;

  float: right;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;

  position: relative;
}
.h-dropdown {
  display: block;
  z-index: 1;

  position: absolute;
  right: 0;
  top: 54px;
}

.h-dropdown-unit-button {
  width: 200px;
  background-color: var(--generalBack);
  text-align: start;
  border: none;
  padding: 9px 8px;
  border-radius: 5px;
}
.h-dropdown-field {
  .dropdownItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.h-dropdown-field-unit {
  padding: 9px 8px;
  cursor: default;

  &[aria-checked="true"] {
    background-color: var(--generalHoverBack);
  }
}
.h-dropdown-field-legend {
  font-size: 15px;
  color: var(--Neutral300);
  padding: 9px 8px;
}
.h-dropdown-division {
  background-color: var(--generalBorderColor);
  display: block;
  width: 100%;
  height: 1px;
  margin: 4px 0;
}
