:root {
  /* COLOR PALETTE */
  /* --Neutral900: hsl(243, 96%, 9%);
  --Neutral800: hsl(243, 27%, 20%);
  --Neutral700: hsl(243, 23%, 24%);
  --Neutral600: hsl(243, 23%, 30%);
  --Neutral300: hsl(240, 6%, 70%);
  --Neutral200: hsl(250, 6%, 84%);
  --Neutral0: hsl(0, 0%, 100%);
  --Orange500: hsl(28, 100%, 52%); */

  --appBack: hsl(243, 96%, 9%);

  /* COLORS FOR THE SEARCH BUTTON */
  --S_B_Back: hsl(233, 67%, 56%);
  --S_B_Hover_Back: hsl(248, 70%, 36%);

  --S_B_Focus_Outline_Back: hsl(233, 67%, 56%);
  --S_B_Focus_Hover_Outline_Back: hsl(248, 70%, 36%);

  /* GENERAL VARIABLES */
  --generalFontColor: hsl(0, 0%, 100%);

  --generalBack: hsl(243, 27%, 20%);
  --generalLighterBack: hsl(243, 23%, 24%);

  --generalHoverBack: hsl(244, 22%, 26%);
  --generalBorderColor: hsl(243, 22%, 37%);

  --locationBgImage: url("/images/bg-today-small.svg");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--generalFontColor);
  font-size: 18px;
  font-family: "DM Sans";
}

.App {
  background-color: var(--appBack);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  justify-items: center;

  overflow-y: auto;
  padding: 15px;

  & > *:not(#Header) {
    max-width: 343px;
  }
}

h3 {
  margin: 15px 0;
}
li {
  list-style: none;
}

.generalBackground {
  background-color: var(--generalBack);
}
.dropdownContainer {
  background-color: var(--generalBack);

  padding: 5px;
  border-radius: 10px;
  display: none;

  position: absolute;
}
.dropdownItem {
  background-color: var(--generalBack);

  padding: 5px 15px;
  border-radius: 5px;
  border: 0;
}
.hover {
  transition: background-color 0.2s;
  &:hover {
    cursor: pointer;
    background-color: var(--generalHoverBack);
  }
}
.generalBorder {
  border: 1px solid var(--generalBorderColor);
}

/*======================================== FONTS ========================================*/

/* BRICOLAGE GROTESQUE */
@font-face {
  font-family: "BricolageGrotesque";
  src: url("/fonts/BricolageGrotesque/static/BricolageGrotesque-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BricolageGrotesque";
  src: url("/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont.ttf")
    format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

/* DM SANS */
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/static/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/static/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
